{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
         

<h3>Welcome to PleasantPup</h3>
<h5>The one stop shop for all your pupper needs!!</h5>



<div class="list-group">

    <div class="list-group-item flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Create profiles for your dogs.</h5>
        </div>
        <p class="mb-1">Create a profile for your dog with personalized health information for their specific breed.</p>
    </div>

    <div class="list-group-item flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Only here for training?</h5>
        </div>
        <p class="mb-1">We got you covered! Learn how to teach your dog all basic commands. With patience and hard work your pup will be a PleasantPup in no time!</p>
    </div>

    <div class="list-group-item flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Create public posts.</h5>
        </div>
        <p class="mb-1">Create posts to share best practices, events, or just everyday updates about your dogs.</p>
    </div>


</div>

{% endblock %}