{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<h1>Obsessed with dogs?</h1>
<h2>Great! So are we!</h2>
<h3>PleasantPup is a website/application solely based around our furry little friends</h3>
<h3>What can you do on PleasantPup you ask?</h3>

<h3>Well the app focuses arround three different areas. Health, training, and social media</h3>

<div>
    <h3>For health you can:</h3>
    <ul>
        <li>Create a profile for your dog</li>
        <li>Select your dogs breed/breeds to get customized information</li>
        <li>Log all of your dogs current medical information including medications they are currently taking</li>
    </ul>
</div>

<div>
    <h3>Only here for training? Well we got you covered!</h4>
    <h4>We have created a course to make your pup a PleasantPup.</h4>
    <h4>Sound good? Well here is the best part. It's 100% FREE!!!</h4>
    <h4>I know right!</h4>
    <h4>No more searching for dog trainers and paying crazy outrageous prices just for the trainer to teach you how to teach your dog</h4>
    

    <h4>With our course you will learn how to teach your Dog how to</h4>
    <ul>
        <li>Sit</li>
        <li>Down</li>
        <li>Stay</li>
        <li>Take it</li>
        <li>Leave it</li>
        <li>Drop it</li>
        <li>Not pull on the leash</li>
        <li>Come when called</li>
        <li>They will learn their name</li>
        <li>They will learn how to wait at the door way</li>
        <li>And much more</li>
    </ul>
    <h4>A little bit of reading, patients, and hard work and you will have a PleasantPup in no time.</h4>
</div>


<div>
    <h3>Now for the Social Media...</h3>
    <h4>We created this so dog owners can share updates on their dogs, best practices, and pretty much anything dog related</h4>
</div>


<div>
    <h3>So if you are as Obsessed with your dog as much as we are. Or if you just want to learn more about dogs then click that Register button and get started</h3>
    <a href="">Register</a>
    <h3>Don't forget.. It's free!!!</h3>
</div>


{% endblock %}