{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<a href="{% url 'training' %}"><--Back to Training Page</a>
<h1>Teach your dog their name</h1>


<div class="list-group">

    <div class="list-group-item flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Step 1: Get his attention and reward it!</h5>
        </div>
        <p class="mb-1">--Find a quiet room in your house and call your dog's name with an upbeat and happy tone of voice. As soon as he looks at you...Mark and Reward!</p>
        <p class="mb-1">--If your furry friend doesn't look at you, try to make noises with your mouth or slap your hands on your thighs to get his attention (Do NOT repeat his name over and over!). Do this only the first few times.</p>
        <p class="mb-1">--Repeat this step many times throughout the day. I recommend doing 10 quick repetitions twice a day for 5 days. This will make your canine friend feel super happy after hearing his name!</p>
    </div>


    <div class="list-group-item flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Step 2: Teach your dog its name in different places.</h2>
        </div>
        <p class="mb-1">--Different rooms of your house</p>
        <p class="mb-1">--Backyard and front-yard</p>
        <p class="mb-1">--While out on walks</p>
        <p class="mb-1">--At the vet clinic</p>
        <p class="mb-1">--At the pet store</p>
        <p class="mb-1">--At the Dog park</p>
        <p class="mb-1">--Etc...</p>
    </div>
    
    <div class="list-group-item flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Step 3: Teach your dog its name with added distractions</h5>
        </div>
        <p class="mb-1">--The key here is to always give him a reward that is better than what he was previously doing!</p>
        <p class="mb-1">--Teach your puppy that every time you call his name it pays to look at you! You want him to have absolutely no doubts. If you call, the best option he has is to look at you!</p>
        <p class="mb-1">--Start with low distractions, like inside your home while someone else is bouncing a ball. Then move on to harder distractions. But move up slowly, you want your pet to succeed several times on each step!</p>
    </div>



    <div class="list-group-item flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Step 4: Teach your dog its name at a distance</h5>
        </div>
        <p class="mb-1">--Start by calling your dog's name while you are only a few steps away. As soon as he looks at you Mark and Reward! Then do the same a little further away.</p>
        <p class="mb-1">--Your furry friend doesn't necessarily have to come to you when you call his/her name. Just looking at you should be good enough because later on you might want to give him another command. But if he comes to you reward it too!</p>
    </div>
    
    
    
</div>


{% endblock %}