{% extends 'base.html' %}

{% block content %}

  <div id="post-detail">

      <div class="post">

          <p class='post-title'>{{ post.title }}</p>
          <img src="{{post.image_link}}" alt="">
          <p class='post-body'>{{post.body}}</p>
    
        </div>



        <div class="post-nav">
            <div>
              <p class='posst-author'>Posted by <a href="#">{{ post.author }}</a></p>
            </div>

            <div>
              <a class='edit_post' href="{% url 'post_edit' pk=post.pk %}">Edit</a> /
              <a class='delete_post' href="{% url 'post_delete' pk=post.pk %}">Delete</a>
            </div>
          </div>

  </div>
 





  <p id='post-detail-header'>Comments</p>




  <div id="comment-container">
      
    {% for comment in post.comments.all %}

      <div class="comment-container2">

        <p class='comment'><a class='comment-author' href="#">{{comment.author}}  </a>: {{comment.body}}</p>

        <a href="{% url 'comment_edit' pk=post.pk comment_pk=comment.pk %}">Edit</a> /
        <a href="{% url 'comment_delete' pk=post.pk comment_pk=comment.pk %}">Delete</a>
      
      </div>

    {% endfor %}

    <a href="{% url 'comment_create' pk=post.pk %}" class='new_comment'>New Comment</a>

  </div>


{% endblock %}