{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}


<p>{{profile.user.username}}</p>
<img class='prof-pic' src="{{profile.image_link}}" alt="{{profile.user.username}}'s Profile Picture">





    <a href="{% url 'dog_create' %}">create dog</a>
      
    {% for dog in profile.user.dogs.all %}
    
        
            
                <a href="{% url 'dog_profile' dog_pk=dog.pk %}" target="_blank">
                    
                        <p>{{dog.name}}</p>
                   
                    <img class='dog-prof' src="{{dog.image_link}}" alt="Nature" style="width:100%">
              
            
           
                <a href="{% url 'dog_edit' dog_pk=dog.pk %}">Edit</a>
                <a href="{% url 'dog_delete' dog_pk=dog.pk %}">Delete</a>
          
        
    

    {% endfor %}







{% endblock %}