{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}


<div class="profile-section pic-or-form">
    <h3>{{profile.user.username}}</h3>
    <section class="prof-pic-section">
        <img class="prof-pic-md" src="{{profile.image_link}}" alt="{{profile.user.username}}'s Profile Picture">
    </section>
</div>


<div class="dog-section">

        {% for dog in profile.user.dogs.all %}
                <div class="dog-container">
                    <div>
                        <a href="{% url 'dog_profile' dog_pk=dog.pk %}">
                            <p>{{dog.name}}</p>
                            <img src="{{dog.image_link}}" alt="Nature" style="width: 200px;">
                        </a>
                    </div>
                    <br>

                </div>
                
         
        {% endfor %}
            </div>







{% endblock %}