{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}


<p>{{profile.user.username}}</p>
<img class='profile-pic' src="{{profile.image_link}}" alt="">


<div class="container">
        <h2>Image Gallery</h2>
        <p>The .thumbnail class can be used to display an image gallery.</p>
        <p>The .caption class adds proper padding and a dark grey color to text inside thumbnails.</p>
        <p>Click on the images to enlarge them.</p>
        <a href="{% url 'dog_create' %}">create dog</a>
    {% for dog in profile.user.dogs.all %}
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="{% url 'dog_profile' dog_pk=dog.pk %}" target="_blank">
                    <div class="caption">
                        <p>{{dog.name}}</p>
                    </div>
                    <img src="{{dog.image_link}}" alt="Nature" style="width:100%">
                </a>
            </div>
        </div>
    </div>
    <div class="dog-buttons">
            <a href="{% url 'dog_edit' dog_pk=dog.pk %}">Edit</a>
            <a href="{% url 'dog_delete' dog_pk=dog.pk %}">Delete</a>
        </div>
    {% endfor %}
</div>





{% endblock %}