*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
html, body{
    min-height: 100%;
    margin: 0;
}

footer {
    background:#29387F;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

.bg-primary{
    background-color: #29387F !important;
}

#logo{
    width:50px;
    height:50px;
    border-radius: 50%;
}

.form-section{
    height: 100vh;
}

.form-signin{
    width:30%;
    margin:0 auto;
}

.form-dog{
    width:30%;
    margin:0 auto;
}


.prof-pic-sm{
    width:50px;
    height:50px;
    border-radius: 50%;
    border: 1px solid black;
}

.prof-pic-md{
    width:200px;
    height:200px;
    border-radius: 50%;
    margin-bottom: 5px;
    border: 1px solid black;
}

.post-list-container {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
}


.posts-container{
    margin-top: 20px;
    -webkit-box-shadow: 4px 4px 25px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 25px -8px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 25px -8px rgba(0,0,0,0.75);
    border-radius: 20px;

}


@media only screen and (max-width:750px){
    .posts-container{
        width:90vw;
        margin: 0;
    }
}

.post-container{
    border:1px solid black;
    margin:20px;

}


.post{
    text-align: center;
}

.post-body{
    margin: 10px;
    border: 1px solid gray;
}

.post-nav{
    display: flex;
    justify-content: space-between;
}

.post-nav a{
    margin:10px;
}


.btn{
    margin-top: 20px;
    margin: 0 auto;
}


/* ---------- USER PROFILE ---------- */
/* 
.dog-section{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

 */


.dog-section {
    width: 50%;
    padding: 30px;
    margin: 0 auto;
    -webkit-box-shadow: 4px 4px 25px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 25px -8px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 25px -8px rgba(0,0,0,0.75);
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
};


/* ---------- START TRAINING PAGE ---------- */

