*{
    margin:0px;
    padding:0px;
}

#logo{
    width:50px;
    height:50px;
    border-radius: 50%;
}

.form-section{
    height: 100vh;
}

.form-signin{
    width:30%;
    margin:0 auto;
}

.form-dog{
    width:30%;
    margin:0 auto;
}


.prof-pic-sm{
    width:50px;
    height:50px;
    border-radius: 50%;
    border: 1px solid black;
}

.prof-pic-md{
    width:200px;
    height:200px;
    border-radius: 50%;
    margin-bottom: 5px;
    border: 1px solid black;
}




.posts-container{
    border:1px solid black;
    width:50%;
    margin-top: 30px !important;
    margin:0 auto;
    display: flex;
    flex-direction: column-reverse;
}

.post-container{
    border:1px solid black;
    margin:20px;

}


.post{
    text-align: center;
}

.post-body{
    margin: 10px;
    border: 1px solid gray;
}

.post-nav{
    display: flex;
    justify-content: space-between;
}

.post-nav a{
    margin:10px;
}


.btn{
  
    margin: 0 auto;
}


/* ---------- USER PROFILE ---------- */
/* 
.dog-section{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

 */


.dog-section {
    width: 50%;
    border: 2px solid var(--olive-green);
    padding: 30px;
    margin: 0 auto;
    -webkit-box-shadow: 4px 4px 25px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 25px -8px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 25px -8px rgba(0,0,0,0.75);
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
};


